<!-- Section Header -->
<div class="hero is-light is-small" id="about">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4 has-text-centered has-text-weight-light is-uppercase">About Me</h1>
    </div>
  </div>
</div>
<!-- End Section Header -->
<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-half has-text-centered">
        <h2 class="title is-6">Current Location</h2>
        <h3 class="subtitle is-7">{{ $.Site.Data.resume.personal.location.current }}</h3>
      </div>  
      <div class="column has-text-centered">
        <h2 class="title is-6">Hometown</h2>
        <h3 class="subtitle is-7">{{ $.Site.Data.resume.personal.location.hometown }}</h3>
      </div>
    </div>
    <hr>
    <div class="content">
      {{ range where $.Data.Pages "Type" "about"}}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
</section>