<div class="hero is-light is-small" id="skills">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4 has-text-centered has-text-weight-light is-uppercase">Skills</h1>
    </div>
  </div>
</div>

<!-- Skills -->
<section class="section">
  <div class="container">
    <div class="tags is-centered">
      {{ range $.Site.Data.resume.skills.hardskills }}
        <span class="tag is-link">{{ .skill }}</span>
      {{ end }}
    </div>

<!-- Languages -->
    <div class="tags is-centered">
      {{ range $.Site.Data.resume.skills.languages }}
        <span class="tag is-info">{{ .language }}</span>
      {{ end }}
    </div>

<!-- Software -->
    <div class="tags is-centered">
      {{ range $.Site.Data.resume.skills.software }}
        <span class="tag is-warning">{{ . }}</span>
      {{ end }}
    </div>

<!-- Soft Skills -->
    <div class="tags is-centered">
      {{ range $.Site.Data.resume.skills.softskills }}
        <span class="tag is-success">{{ . }}</span>
      {{ end }}
    </div>
  </div>
</section>

<!-- Experience -->
<div class="hero is-light is-small" id="experience">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4 has-text-centered has-text-weight-light is-uppercase">Experience</h1>
    </div>
  </div>
</div>

<section class="section">
  <div class="tabs is-small is-centered is-fullwidth is-boxed">
    <ul>
      <li class="is-active"><a>Full Time</a></li>
      <li><a>Part Time</a></li>
    </ul>
  </div>

  <!-- Job Item Loop -->
  {{ range $.Site.Data.resume.experience.fulltime }}
  <div class="container">
    <header class="header">
      <h3 class="title is-5">{{ .position }}</h3>
      <h4 class="subtitle is-6 has-text-weight-light">{{ .dates }}
        <p>{{ .company }}</p>
        <p class="has-text-success has-text-weight-semibold"><i class="fa fa-building-o" aria-hidden="true"></i> {{ .location }}</p>
      </h4>
    </header>
    <br>
  </div>
  <div class="container">
    <div class="content">
      <p>{{ .summary }}</p>
      <ul style="margin-left:1rem" class="">
        {{ range $duty := .duties }}
          <li>{{ $duty }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="is-divider" data-content=""></div>
  {{ end }} 
  <!-- End Job Item Loop -->

    <h2 class="">Part-Time Positions</h2>
      {{ range $.Site.Data.resume.experience.parttime }}
        <h3>{{ .company }}</h3>
        <p class="">{{ .position }}</p>
      {{ end }}
</section>

<!-- Volunteer -->
<h2 class="">Volunteer</h2>
{{ range $.Site.Data.resume.volunteer.positions }}
<h3>{{ .place }}</h3>
<p class="">{{ .date }}</p>
{{ end }}

<!-- projects -->
<h2 class="">Projects</h2>
{{ range $.Site.Data.resume.projects.personal }}
<h3>{{ .name }}</h3>
<p>{{ .description }}</p>
{{ end }}

<!-- Hobbies -->
<h2 class="">Hobbies</h2>
<h4>Outdoors</h4>
<ul class="">
  {{ range $.Site.Data.resume.hobbies.outdoors }}
  <li class="  ">{{ . }}</li>
  {{ end }}
</ul>

<h4>Indoors</h4>
<ul class="">
  {{ range $.Site.Data.resume.hobbies.indoors }}
  <li class="  ">{{ . }}</li>
  {{ end }}
</ul>

<h4>Social</h4>
<ul class="">
  {{ range $.Site.Data.resume.hobbies.social }}
  <li class="  ">{{ . }}</li>
  {{ end }}
</ul>

<h4>Skill Builders</h4>
<ul class="">
  {{ range $.Site.Data.resume.hobbies.skillbuilders }}
  <li class="  ">{{ . }}</li>
  {{ end }}
</ul>

<!-- Education -->
<h2 class="">Education</h2>
{{ range $.Site.Data.resume.education.schools }}
<h3>{{ .school }}</h3>
<p>{{ .degree }}</p>
<h3 class="">{{ .dates }}</h3>
<p class="">{{ .location }}</p>
{{ end }}